In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from pandas.plotting import autocorrelation_plot
from pmdarima import auto_arima
import datetime as dt
sns.set_palette('colorblind')

In [3]:
df = pd.read_csv(r"D:\EOY Datasets\Full Datasets\Everything_NonCovid.csv",index_col=0)

C:\Users\ellio\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df2 = pd.read_csv(r"D:\EOY Datasets\Full Datasets\Everything_cleaned.csv",index_col=0)

In [5]:
grouped = df.groupby(['Region','Crime_type'])['Crime_ID'].count()
grouped/36

Region         Crime_type
East Midlands  Criminal damage and arson        9237.527778
               Drug offences                    1668.277778
               Public order offences            5874.027778
               Theft offences                  23537.194444
               Violence and sexual offences    25038.722222
North          Criminal damage and arson        3889.388889
               Drug offences                     520.500000
               Public order offences            1969.277778
               Theft offences                   7418.166667
               Violence and sexual offences     7153.083333
South East     Criminal damage and arson       10641.000000
               Drug offences                    4625.000000
               Public order offences            7864.361111
               Theft offences                  31653.083333
               Violence and sexual offences    34875.777778
South West     Criminal damage and arson        5660.111111
               Drug offences                    1429.111111
               Public order offences            3821.444444
               Theft offences                  12909.250000
               Violence and sexual offences    17599.277778
West Midlands  Criminal damage and arson        9628.722222
               Drug offences                    1959.500000
               Public order offences            7283.805556
               Theft offences                  24272.861111
               Violence and sexual offences    26698.083333
Name: Crime_ID, dtype: float64

In [6]:
grouped2 = df.groupby(['Month','Region','Crime_type'])['Crime_ID'].count().reset_index()
grouped2

       Month         Region                    Crime_type  Crime_ID
0    2017-01  East Midlands     Criminal damage and arson      9331
1    2017-01  East Midlands                 Drug offences      1468
2    2017-01  East Midlands         Public order offences      3677
3    2017-01  East Midlands                Theft offences     24121
4    2017-01  East Midlands  Violence and sexual offences     18987
..       ...            ...                           ...       ...
895  2019-12  West Midlands     Criminal damage and arson      4359
896  2019-12  West Midlands                 Drug offences       804
897  2019-12  West Midlands         Public order offences      2740
898  2019-12  West Midlands                Theft offences      9520
899  2019-12  West Midlands  Violence and sexual offences     12259

[900 rows x 4 columns]

In [7]:
print(grouped2[(grouped2.Crime_type == 'Drug offences') & (grouped2.Region == 'South East')].Crime_ID.var()**2)
print(grouped2[(grouped2.Crime_type == 'Drug offences') & (grouped2.Region == 'South West')].Crime_ID.var())
print(grouped2[(grouped2.Crime_type == 'Drug offences') & (grouped2.Region == 'West Midlands')].Crime_ID.var())
print(grouped2[(grouped2.Crime_type == 'Drug offences') & (grouped2.Region == 'East Midlands')].Crime_ID.var())
print(grouped2[(grouped2.Crime_type == 'Drug offences') & (grouped2.Region == 'North')].Crime_ID.var())

79235494144.0
43535.13015873016
97272.6
49663.292063492074
2819.5142857142855

In [8]:
df2

,Crime_ID,Month,Reported_by,Crime_type,Outcome_type,Year,Level_of_Lockdown,Region
0,e9a50727f2189e0c50f704e3661bc1a8ae3a39aece4866...,2019-01-01,Avon and Somerset,Violence and sexual offences,No suspect identified,2019,No Lockdown,South West
1,fb06f54e9d633a961109ef74171e4beb40b2fe44e57a10...,2019-01-01,Avon and Somerset,Violence and sexual offences,Unable to prosecute suspect,2019,No Lockdown,South West
2,4655ba031d5c8d00b247577a22472fbb8f9130d98b7d95...,2019-01-01,Avon and Somerset,Violence and sexual offences,No suspect identified,2019,No Lockdown,South West
3,2830f28a4a93138717182d1cc51b6d77cfaf3c27398934...,2019-01-01,Avon and Somerset,Theft offences,No suspect identified,2019,No Lockdown,South West
4,ca01d599d45f6e1d1bc5b05ddc6a1b559870fc831baa8e...,2019-01-01,Avon and Somerset,Theft offences,No suspect identified,2019,No Lockdown,South West
...,...,...,...,...,...,...,...,...
10297558,b81d4240a922e62a8ab5c7563e890f53503bbd9a72d30f...,2021-12-01,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
10297559,8936ed88bc946d71ea9e1ba7bf545d335aca64a2aad0c2...,2021-12-01,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
10297560,ec0357d8210b3df52277002d3a0f5967bf78d26d572583...,2021-12-01,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
10297561,8af4abefb399d3a2c1c71eec2045f3d4f9898c2ba97001...,2021-12-01,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
10297562,c841195e16630555c41673ed9297003fed3330aedf51d6...,2021-12-01,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West

In [9]:
covid_months = df2[df2.Month.isin(['2020-04-01','2020-05-01','2020-06-01','2020-07-01',
                                '2020-09-01','2020-10-01','2020-11-01','2020-12-01'])]

In [10]:
#covid_months

In [11]:
grouped3 = covid_months.groupby(['Region','Crime_type'])['Crime_ID'].count()
grouped3/8

Region         Crime_type
East Midlands  Criminal damage and arson        8431.500
               Drug offences                    2598.000
               Public order offences            8758.000
               Theft offences                  15668.125
               Violence and sexual offences    32037.250
North          Criminal damage and arson        3423.250
               Drug offences                     714.750
               Public order offences            2394.875
               Theft offences                   5045.000
               Violence and sexual offences     8810.000
South East     Criminal damage and arson       11815.000
               Drug offences                    7285.000
               Public order offences           11330.125
               Theft offences                  34203.875
               Violence and sexual offences    46847.875
South West     Criminal damage and arson        4986.375
               Drug offences                    1898.500
               Public order offences            4895.750
               Theft offences                   8688.250
               Violence and sexual offences    20024.500
West Midlands  Criminal damage and arson        6038.250
               Drug offences                    2169.750
               Public order offences            5951.250
               Theft offences                  11357.250
               Violence and sexual offences    26603.125
Name: Crime_ID, dtype: float64

In [12]:
grouped4 = covid_months.groupby(['Month','Region','Crime_type'])['Crime_ID'].count().reset_index()
grouped4

          Month         Region                    Crime_type  Crime_ID
0    2020-04-01  East Midlands     Criminal damage and arson      6834
1    2020-04-01  East Midlands                 Drug offences      2558
2    2020-04-01  East Midlands         Public order offences      7302
3    2020-04-01  East Midlands                Theft offences     12635
4    2020-04-01  East Midlands  Violence and sexual offences     26519
..          ...            ...                           ...       ...
195  2020-12-01  West Midlands     Criminal damage and arson      4582
196  2020-12-01  West Midlands                 Drug offences      1898
197  2020-12-01  West Midlands         Public order offences      4310
198  2020-12-01  West Midlands                Theft offences      8505
199  2020-12-01  West Midlands  Violence and sexual offences     20763

[200 rows x 4 columns]

In [13]:
print(grouped4[(grouped4.Crime_type == 'Drug offences') & (grouped4.Region == 'South East')].Crime_ID.var())
print(grouped4[(grouped4.Crime_type == 'Drug offences') & (grouped4.Region == 'South West')].Crime_ID.var())
print(grouped4[(grouped4.Crime_type == 'Drug offences') & (grouped4.Region == 'West Midlands')].Crime_ID.var())
print(grouped4[(grouped4.Crime_type == 'Drug offences') & (grouped4.Region == 'East Midlands')].Crime_ID.var())
print(grouped4[(grouped4.Crime_type == 'Drug offences') & (grouped4.Region == 'North')].Crime_ID.var())

1384474.0
63870.0
57065.642857142855
49832.28571428572
6383.357142857143

In [17]:
def plotter(df_grouped,crime_type,ax=None,**kwargs):
    crim = df_grouped[df_grouped.Crime_type == crime_type]
    crim = crim.reset_index(drop=True)
    crim.loc[0,'Crime_ID'] = crim.Crime_ID[0:12].median()
    crim = crim.drop(np.arange(1,12),axis=0)
    crim['Crime_ID'] = ((crim['Crime_ID']-crim.Crime_ID[0])/crim.Crime_ID[0])*100
    return crim

In [16]:
grouped5 = df2.groupby(['Month','Crime_type'])['Crime_ID'].count()
grouped5 = grouped5.reset_index()
grouped5

          Month                    Crime_type  Crime_ID
0    2019-01-01     Criminal damage and arson     36557
1    2019-01-01                 Drug offences     10964
2    2019-01-01         Public order offences     23749
3    2019-01-01                Theft offences     93564
4    2019-01-01  Violence and sexual offences    116769
..          ...                           ...       ...
175  2021-12-01     Criminal damage and arson     19252
176  2021-12-01                 Drug offences      4987
177  2021-12-01         Public order offences     14742
178  2021-12-01                Theft offences     42251
179  2021-12-01  Violence and sexual offences     51188

[180 rows x 3 columns]

In [23]:
plotter(grouped5,'Violence and sexual offences').drop([0,12,13,14,18,24,25,26,27,28,29,30,31,32,33,34,35])

         Month                    Crime_type   Crime_ID
15  2020-04-01  Violence and sexual offences -11.478003
16  2020-05-01  Violence and sexual offences   0.129088
17  2020-06-01  Violence and sexual offences   8.424076
19  2020-08-01  Violence and sexual offences  20.370751
20  2020-09-01  Violence and sexual offences  12.769661
21  2020-10-01  Violence and sexual offences   8.613251
22  2020-11-01  Violence and sexual offences   0.163202
23  2020-12-01  Violence and sexual offences  -6.296639

In [27]:
plotter(grouped5,'Drug offences').drop([0,12,13,14,18,24,25,26,27,28,29,30,31,32,33,34,35])

         Month     Crime_type   Crime_ID
15  2020-04-01  Drug offences  18.437138
16  2020-05-01  Drug offences  47.561024
17  2020-06-01  Drug offences  24.789261
19  2020-08-01  Drug offences  -0.227718
20  2020-09-01  Drug offences  -0.099876
21  2020-10-01  Drug offences  10.007591
22  2020-11-01  Drug offences  15.009388
23  2020-12-01  Drug offences   2.297152