In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('LondonCOB.csv')
df

,Area,Age,Sex,Usual Residents,BirthCountry,BirthRegion
0,Barking and Dagenham,Age 0 to 4,Females,10,Ghana,Africa
1,Barking and Dagenham,Age 5 to 9,Females,17,Ghana,Africa
2,Barking and Dagenham,Age 10 to 15,Females,45,Ghana,Africa
3,Barking and Dagenham,Age 16 to 19,Females,30,Ghana,Africa
4,Barking and Dagenham,Age 20 to 24,Females,67,Ghana,Africa
...,...,...,...,...,...,...
67247,Yorkshire and The Humber,Age 60 to 64,Males,135,United States,The Americas and the Caribbean
67248,Yorkshire and The Humber,Age 65 to 69,Males,94,United States,The Americas and the Caribbean
67249,Yorkshire and The Humber,Age 70 to 74,Males,56,United States,The Americas and the Caribbean
67250,Yorkshire and The Humber,Age 75 to 79,Males,38,United States,The Americas and the Caribbean
67251,Yorkshire and The Humber,Age 80 or over,Males,57,United States,The Americas and the Caribbean

In [4]:
df_london = df.loc[df.Area.apply(lambda x: x in {'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 
               'Bromley', 'Camden', 'City of London,Westminster', 'Croydon',
               'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham',
               'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington',
               'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 
               'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 
               'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth' })].copy()
df_london

,Area,Age,Sex,Usual Residents,BirthCountry,BirthRegion
0,Barking and Dagenham,Age 0 to 4,Females,10,Ghana,Africa
1,Barking and Dagenham,Age 5 to 9,Females,17,Ghana,Africa
2,Barking and Dagenham,Age 10 to 15,Females,45,Ghana,Africa
3,Barking and Dagenham,Age 16 to 19,Females,30,Ghana,Africa
4,Barking and Dagenham,Age 20 to 24,Females,67,Ghana,Africa
...,...,...,...,...,...,...
64119,Wandsworth,Age 60 to 64,Males,38,United States,The Americas and the Caribbean
64120,Wandsworth,Age 65 to 69,Males,20,United States,The Americas and the Caribbean
64121,Wandsworth,Age 70 to 74,Males,13,United States,The Americas and the Caribbean
64122,Wandsworth,Age 75 to 79,Males,7,United States,The Americas and the Caribbean
64123,Wandsworth,Age 80 or over,Males,12,United States,The Americas and the Caribbean

In [5]:
totals = df_london.groupby('Area')['Usual Residents'].sum()
totals

Area
Barking and Dagenham          185911
Barnet                        356386
Bexley                        231997
Brent                         311215
Bromley                       309392
Camden                        220338
City of London,Westminster    226771
Croydon                       363378
Ealing                        338449
Enfield                       312466
Greenwich                     254557
Hackney                       246270
Hammersmith and Fulham        182493
Haringey                      254926
Harrow                        239056
Havering                      237232
Hillingdon                    273936
Hounslow                      253957
Islington                     206125
Kensington and Chelsea        158649
Kingston upon Thames          160060
Lambeth                       303086
Lewisham                      275885
Merton                        199693
Newham                        307984
Redbridge                     278970
Richmond upon Thames          186990
Southwark                     288283
Sutton                        190146
Tower Hamlets                 254096
Waltham Forest                258249
Wandsworth                    306995
Name: Usual Residents, dtype: int64

In [6]:
df_london
#df_london['proportion'] = df_london.apply(lambda row: df_london['Usual Residents'][row]/totals[df_london['Area'][row]])
df_london_location = df_london.copy()
df_london_location['totals'] = df_london_location.groupby('Area')['Usual Residents'].transform('sum')
df_london_location['proportion'] = df_london_location['Usual Residents']/df_london_location.totals
df_london_location

,Area,Age,Sex,Usual Residents,BirthCountry,BirthRegion,totals,proportion
0,Barking and Dagenham,Age 0 to 4,Females,10,Ghana,Africa,185911,0.000054
1,Barking and Dagenham,Age 5 to 9,Females,17,Ghana,Africa,185911,0.000091
2,Barking and Dagenham,Age 10 to 15,Females,45,Ghana,Africa,185911,0.000242
3,Barking and Dagenham,Age 16 to 19,Females,30,Ghana,Africa,185911,0.000161
4,Barking and Dagenham,Age 20 to 24,Females,67,Ghana,Africa,185911,0.000360
...,...,...,...,...,...,...,...,...
64119,Wandsworth,Age 60 to 64,Males,38,United States,The Americas and the Caribbean,306995,0.000124
64120,Wandsworth,Age 65 to 69,Males,20,United States,The Americas and the Caribbean,306995,0.000065
64121,Wandsworth,Age 70 to 74,Males,13,United States,The Americas and the Caribbean,306995,0.000042
64122,Wandsworth,Age 75 to 79,Males,7,United States,The Americas and the Caribbean,306995,0.000023
64123,Wandsworth,Age 80 or over,Males,12,United States,The Americas and the Caribbean,306995,0.000039

In [48]:
df_lambda = df_london.copy()
df_lambda_grouped = df_lambda.groupby(['Area', df_lambda.index]).agg({'Usual Residents': 'sum'})
percents = df_lambda_grouped.groupby(level=0).apply(lambda x: x / float(x.sum()))
df_lambda_grouped
percents = percents.rename(columns={'Usual Residents': 'proportion'})
#percents = percents.reset_index(drop=True)
percents

                            proportion
Area
Barking and Dagenham 0        0.000054
                     1        0.000091
                     2        0.000242
                     3        0.000161
                     4        0.000360
...                                ...
Wandsworth           64119    0.000124
                     64120    0.000065
                     64121    0.000042
                     64122    0.000023
                     64123    0.000039

[50048 rows x 1 columns]

This has grouped by Area, so it has found the total number of people by area. We have then found the proportion of ages that live in each specific area. So within Barking and Dagenham, 10% of the population are between ages 0 to 4.

In [8]:
df_a_a_london = df_london_location.groupby(['Area','Age'])['proportion'].sum()
df_a_a_london

Area                  Age
Barking and Dagenham  Age 0 to 4        0.100457
                      Age 10 to 15      0.082249
                      Age 16 to 19      0.054064
                      Age 20 to 24      0.070211
                      Age 25 to 29      0.080528
                                          ...
Wandsworth            Age 60 to 64      0.034717
                      Age 65 to 69      0.025114
                      Age 70 to 74      0.021971
                      Age 75 to 79      0.016697
                      Age 80 or over    0.023877
Name: proportion, Length: 544, dtype: float64

In [9]:
df_a_a_london2 = df_london_location.pivot_table(values='proportion', index='Area', columns='Age', aggfunc='sum')
df_a_a_london2

Age,Age 0 to 4,Age 10 to 15,Age 16 to 19,Age 20 to 24,Age 25 to 29,Age 30 to 34,Age 35 to 39,Age 40 to 44,Age 45 to 49,Age 5 to 9,Age 50 to 54,Age 55 to 59,Age 60 to 64,Age 65 to 69,Age 70 to 74,Age 75 to 79,Age 80 or over
Area,,,,,,,,,,,,,,,,,
Barking and Dagenham,0.100457,0.082249,0.054064,0.070211,0.080528,0.081980,0.078027,0.073777,0.065709,0.077085,0.053854,0.041563,0.036571,0.026626,0.023269,0.020327,0.033704
Barnet,0.073625,0.071953,0.045541,0.067099,0.088177,0.084658,0.076052,0.074607,0.067284,0.062719,0.058498,0.049242,0.047454,0.037392,0.029173,0.025349,0.041177
Bexley,0.065441,0.079178,0.053781,0.063932,0.060522,0.062384,0.064622,0.076212,0.077561,0.060410,0.066790,0.053617,0.055152,0.042742,0.037841,0.032246,0.047570
Brent,0.072124,0.069608,0.047774,0.077753,0.111492,0.097007,0.078158,0.069964,0.066019,0.059920,0.059358,0.046408,0.039420,0.030783,0.026875,0.021477,0.025860
Bromley,0.064950,0.072497,0.045554,0.052099,0.057813,0.068082,0.071799,0.080332,0.078580,0.058376,0.066854,0.055105,0.059769,0.045822,0.037470,0.033045,0.051853
Camden,0.059763,0.051734,0.048643,0.099225,0.117651,0.110861,0.086998,0.072511,0.060108,0.049460,0.049733,0.042489,0.042004,0.033158,0.025556,0.020160,0.029945
"City of London,Westminster",0.056678,0.046051,0.037858,0.079530,0.125475,0.121449,0.093817,0.076478,0.064338,0.043692,0.053151,0.046188,0.042633,0.033157,0.027671,0.021921,0.029916
Croydon,0.076978,0.077170,0.051335,0.064921,0.076207,0.078822,0.073458,0.074589,0.078508,0.063559,0.063490,0.051982,0.046863,0.034639,0.029083,0.024547,0.033849
Ealing,0.075125,0.068152,0.043286,0.072543,0.100452,0.099208,0.083827,0.075338,0.067594,0.060231,0.056159,0.049103,0.041944,0.030690,0.026686,0.021474,0.028187
Enfield,0.078450,0.078594,0.052031,0.069531,0.079871,0.077221,0.071080,0.076316,0.073278,0.066983,0.060707,0.047967,0.043691,0.035729,0.029533,0.024387,0.034631
Greenwich,0.082280,0.071198,0.050759,0.078517,0.086869,0.099047,0.083494,0.075103,0.067309,0.064131,0.055202,0.043538,0.039960,0.029443,0.024277,0.019402,0.029471
Hackney,0.077756,0.067471,0.043335,0.088054,0.137402,0.122130,0.086633,0.070626,0.061307,0.062371,0.046798,0.035961,0.029525,0.021533,0.017745,0.013928,0.017428
Hammersmith and Fulham,0.065208,0.050254,0.034884,0.094683,0.142586,0.120596,0.094152,0.074902,0.062545,0.046900,0.047690,0.039075,0.036588,0.027459,0.022417,0.016631,0.023431
Haringey,0.071048,0.071327,0.044342,0.073884,0.110079,0.111950,0.088983,0.078984,0.069259,0.061881,0.052627,0.041632,0.036258,0.026204,0.023124,0.017676,0.020743
Harrow,0.066579,0.074129,0.050084,0.067206,0.080922,0.082023,0.071582,0.069599,0.068344,0.060325,0.063404,0.054732,0.050239,0.039204,0.033666,0.028136,0.039827
Havering,0.057585,0.073755,0.051536,0.063128,0.061804,0.061054,0.062108,0.071959,0.074438,0.055768,0.069636,0.057640,0.061379,0.046592,0.040079,0.036753,0.054786
Hillingdon,0.071929,0.074010,0.057079,0.080070,0.076215,0.078511,0.073054,0.071838,0.070604,0.061748,0.060478,0.049373,0.046675,0.035172,0.030759,0.026451,0.036034
Hounslow,0.077671,0.066582,0.046122,0.073288,0.103289,0.100273,0.083258,0.071445,0.065775,0.058667,0.057104,0.048059,0.042704,0.031171,0.026288,0.020858,0.027446
Islington,0.059619,0.053138,0.043493,0.099226,0.144301,0.120640,0.084851,0.073140,0.064849,0.046491,0.049354,0.038331,0.035066,0.026173,0.021783,0.016873,0.022671
Kensington and Chelsea,0.057920,0.047772,0.033647,0.071365,0.104646,0.115633,0.090766,0.078362,0.071705,0.047993,0.059723,0.048447,0.051535,0.039528,0.029354,0.020561,0.031043
Kingston upon Thames,0.068499,0.064601,0.050387,0.084375,0.077209,0.083444,0.083762,0.075953,0.069511,0.056016,0.059378,0.049806,0.049869,0.035574,0.028408,0.023447,0.039760
Lambeth,0.068301,0.058429,0.036633,0.088100,0.142319,0.122094,0.089737,0.076176,0.068947,0.054031,0.051474,0.037521,0.029734,0.021852,0.019777,0.014643,0.020232
Lewisham,0.079758,0.066937,0.046860,0.075695,0.095928,0.103895,0.087765,0.079450,0.074237,0.060406,0.057089,0.041767,0.035482,0.026402,0.023042,0.018533,0.026754
Merton,0.074264,0.063177,0.041399,0.062356,0.099538,0.104681,0.086408,0.077639,0.070303,0.057123,0.056557,0.046817,0.043952,0.031919,0.027572,0.022655,0.033642
Newham,0.082420,0.076874,0.052996,0.105804,0.131296,0.103561,0.076254,0.068906,0.056753,0.067646,0.047830,0.035089,0.027706,0.019456,0.017757,0.013166,0.016485
Redbridge,0.077664,0.079822,0.051074,0.067728,0.085364,0.085798,0.073994,0.070452,0.066534,0.067835,0.058988,0.049987,0.045087,0.032853,0.027429,0.023117,0.036273
Richmond upon Thames,0.075074,0.063068,0.038072,0.048906,0.067094,0.085705,0.093230,0.085229,0.077737,0.059399,0.063132,0.053837,0.054238,0.039606,0.030039,0.024199,0.041435
Southwark,0.071940,0.059251,0.045032,0.093644,0.123923,0.112032,0.087758,0.079526,0.069796,0.053982,0.055744,0.038448,0.031469,0.022710,0.018843,0.014815,0.021087
Sutton,0.067054,0.074380,0.047421,0.056046,0.069341,0.075221,0.077504,0.081059,0.078508,0.058350,0.064550,0.052828,0.054516,0.039775,0.032722,0.028110,0.042615
Tower Hamlets,0.073791,0.062425,0.047081,0.121285,0.158039,0.129982,0.084767,0.061701,0.046353,0.061123,0.038316,0.030788,0.023074,0.016293,0.015856,0.012609,0.016517
Waltham Forest,0.080693,0.068988,0.047183,0.079783,0.102645,0.093584,0.081751,0.078386,0.067145,0.063749,0.055454,0.043760,0.037882,0.028000,0.023938,0.019233,0.027826
Wandsworth,0.070587,0.048085,0.033102,0.077197,0.153804,0.135963,0.096161,0.073428,0.058959,0.047473,0.045890,0.036975,0.034717,0.025114,0.021971,0.016697,0.023877

In [10]:
df_age_totals = df_london.groupby('Age')['Usual Residents'].sum()
df_age_totals

Age
Age 0 to 4        591495
Age 10 to 15      550464
Age 16 to 19      378060
Age 20 to 24      629972
Age 25 to 29      832966
Age 30 to 34      796888
Age 35 to 39      664046
Age 40 to 44      610020
Age 45 to 49      556656
Age 5 to 9        482809
Age 50 to 54      461290
Age 55 to 59      371936
Age 60 to 64      342590
Age 65 to 69      256772
Age 70 to 74      216286
Age 75 to 79      176831
Age 80 or over    254860
Name: Usual Residents, dtype: int64

This is slightly different to the other pivot table above, here we have found the total number of each age range. We have then found the proportion of each age range in regards to the total age range. In the pivot table 2 cells below, we have found for example that 3% of all ages 0 to 4 live in Barking and Dagenham. The 'max' column tells us which age range has the highest value per borough.

In [11]:
df_london_age = df_london.copy()
df_london_age['total'] = df_london_age.groupby('Age')['Usual Residents'].transform('sum')
df_london_age['proportion'] = df_london_age['Usual Residents']/df_london_age['total']
df_london_age = df_london_age.drop(columns=['Sex', 'BirthCountry', 'BirthRegion'])
df_london_age

,Area,Age,Usual Residents,total,proportion
0,Barking and Dagenham,Age 0 to 4,10,591495,0.000017
1,Barking and Dagenham,Age 5 to 9,17,482809,0.000035
2,Barking and Dagenham,Age 10 to 15,45,550464,0.000082
3,Barking and Dagenham,Age 16 to 19,30,378060,0.000079
4,Barking and Dagenham,Age 20 to 24,67,629972,0.000106
...,...,...,...,...,...
64119,Wandsworth,Age 60 to 64,38,342590,0.000111
64120,Wandsworth,Age 65 to 69,20,256772,0.000078
64121,Wandsworth,Age 70 to 74,13,216286,0.000060
64122,Wandsworth,Age 75 to 79,7,176831,0.000040
64123,Wandsworth,Age 80 or over,12,254860,0.000047

In [12]:
df_a_l = df_london_age.pivot_table(values='proportion', columns='Age', index='Area', aggfunc='sum')

df_a_l['max'] = df_a_l.idxmax(axis=1)
df_a_l

Age,Age 0 to 4,Age 10 to 15,Age 16 to 19,Age 20 to 24,Age 25 to 29,Age 30 to 34,Age 35 to 39,Age 40 to 44,Age 45 to 49,Age 5 to 9,Age 50 to 54,Age 55 to 59,Age 60 to 64,Age 65 to 69,Age 70 to 74,Age 75 to 79,Age 80 or over,max
Area,,,,,,,,,,,,,,,,,,
Barking and Dagenham,0.031574,0.027778,0.026586,0.020720,0.017973,0.019126,0.021845,0.022485,0.021945,0.029683,0.021704,0.020775,0.019846,0.019278,0.020001,0.021371,0.024586,Age 0 to 4
Barnet,0.044360,0.046584,0.042930,0.037959,0.037727,0.037861,0.040816,0.043587,0.043077,0.046296,0.045195,0.047183,0.049365,0.051898,0.048071,0.051088,0.057581,Age 80 or over
Bexley,0.025667,0.033370,0.033003,0.023544,0.016857,0.018162,0.022577,0.028984,0.032325,0.029028,0.033591,0.033444,0.037348,0.038618,0.040590,0.042306,0.043302,Age 80 or over
Brent,0.037948,0.039354,0.039327,0.038411,0.041656,0.037885,0.036630,0.035694,0.036910,0.038624,0.040046,0.038832,0.035810,0.037309,0.038671,0.037799,0.031578,Age 25 to 29
Bromley,0.033973,0.040747,0.037280,0.025587,0.021474,0.026433,0.033453,0.040743,0.043675,0.037408,0.044839,0.045839,0.053977,0.055212,0.053600,0.057818,0.062948,Age 80 or over
Camden,0.022262,0.020708,0.028350,0.034705,0.031121,0.030653,0.028867,0.026191,0.023792,0.022572,0.023755,0.025171,0.027015,0.028453,0.026035,0.025120,0.025889,Age 20 to 24
"City of London,Westminster",0.021730,0.018971,0.022708,0.028628,0.034160,0.034561,0.032038,0.028430,0.026210,0.020522,0.026129,0.028161,0.028220,0.029283,0.029013,0.028112,0.026619,Age 30 to 34
Croydon,0.047290,0.050942,0.049341,0.037448,0.033245,0.035942,0.040198,0.044431,0.051249,0.047837,0.050014,0.050786,0.049707,0.049020,0.048861,0.050444,0.048262,Age 45 to 49
Ealing,0.042986,0.041903,0.038750,0.038973,0.040816,0.042135,0.042724,0.041799,0.041097,0.042222,0.041204,0.044682,0.041437,0.040452,0.041760,0.041101,0.037432,Age 55 to 59
Enfield,0.041442,0.044613,0.043004,0.034487,0.029962,0.030279,0.033446,0.039091,0.041133,0.043350,0.041122,0.040297,0.039849,0.043478,0.042666,0.043092,0.042459,Age 10 to 15
Greenwich,0.035410,0.032925,0.034177,0.031727,0.026547,0.031639,0.032007,0.031340,0.030780,0.033813,0.030462,0.029798,0.029691,0.029189,0.028573,0.027931,0.029436,Age 0 to 4
Hackney,0.032374,0.030185,0.028228,0.034422,0.040624,0.037743,0.032129,0.028512,0.027123,0.031814,0.024984,0.023811,0.021224,0.020653,0.020205,0.019397,0.016841,Age 25 to 29
Hammersmith and Fulham,0.020119,0.016660,0.016839,0.027428,0.031239,0.027617,0.025875,0.022407,0.020505,0.017728,0.018867,0.019173,0.019490,0.019515,0.018915,0.017163,0.016778,Age 25 to 29
Haringey,0.030621,0.033032,0.029900,0.029898,0.033689,0.035813,0.034160,0.033007,0.031718,0.032673,0.029084,0.028534,0.026980,0.026015,0.027256,0.025482,0.020749,Age 30 to 34
Harrow,0.026908,0.032193,0.031670,0.025503,0.023224,0.024606,0.025769,0.027275,0.029350,0.029869,0.032858,0.035178,0.035056,0.036499,0.037210,0.038036,0.037358,Age 75 to 79
Havering,0.023096,0.031786,0.032339,0.023772,0.017602,0.018176,0.022188,0.027984,0.031723,0.027402,0.035813,0.036764,0.042503,0.043046,0.043960,0.049307,0.050997,Age 80 or over
Hillingdon,0.033312,0.036831,0.041359,0.034817,0.025065,0.026989,0.030136,0.032260,0.034745,0.035035,0.035915,0.036364,0.037322,0.037524,0.038958,0.040977,0.038731,Age 16 to 19
Hounslow,0.033348,0.030718,0.030982,0.029544,0.031491,0.031956,0.031841,0.029743,0.030008,0.030859,0.031438,0.032815,0.031656,0.030829,0.030867,0.029955,0.027348,Age 0 to 4
Islington,0.020776,0.019898,0.023713,0.032467,0.035709,0.031205,0.026339,0.024714,0.024013,0.019848,0.022053,0.021243,0.021098,0.021011,0.020760,0.019668,0.018336,Age 25 to 29
Kensington and Chelsea,0.015535,0.013768,0.014119,0.017972,0.019931,0.023021,0.021685,0.020380,0.020436,0.015770,0.020540,0.020665,0.023865,0.024422,0.021532,0.018447,0.019324,Age 65 to 69
Kingston upon Thames,0.018536,0.018784,0.021333,0.021437,0.014836,0.016760,0.020190,0.019929,0.019987,0.018570,0.020603,0.021434,0.023299,0.022175,0.021023,0.021224,0.024971,Age 80 or over
Lambeth,0.034998,0.032171,0.029368,0.042386,0.051785,0.046437,0.040958,0.037848,0.037540,0.033918,0.033820,0.030575,0.026305,0.025793,0.027713,0.025097,0.024060,Age 25 to 29
Lewisham,0.037201,0.033548,0.034196,0.033149,0.031772,0.035969,0.036463,0.035932,0.036793,0.034517,0.034143,0.030981,0.028574,0.028368,0.029392,0.028915,0.028961,Age 0 to 4
Merton,0.025072,0.022919,0.021867,0.019766,0.023863,0.026232,0.025985,0.025416,0.025220,0.023626,0.024484,0.025136,0.025620,0.024824,0.025457,0.025584,0.026360,Age 80 or over
Newham,0.042915,0.043011,0.043173,0.051726,0.048546,0.040024,0.035367,0.034789,0.031400,0.043152,0.031934,0.029056,0.024907,0.023336,0.025286,0.022931,0.019921,Age 20 to 24
Redbridge,0.036629,0.040453,0.037687,0.029992,0.028589,0.030036,0.031085,0.032219,0.033344,0.039196,0.035674,0.037493,0.036714,0.035693,0.035379,0.036470,0.039704,Age 10 to 15
Richmond upon Thames,0.023733,0.021424,0.018830,0.014517,0.015062,0.020111,0.026253,0.026125,0.026113,0.023005,0.025591,0.027066,0.029604,0.028843,0.025970,0.025589,0.030401,Age 80 or over
Southwark,0.035062,0.031030,0.034338,0.042853,0.042889,0.040529,0.038098,0.037582,0.036146,0.032232,0.034837,0.029801,0.026481,0.025497,0.025115,0.024153,0.023852,Age 25 to 29
Sutton,0.021556,0.025693,0.023851,0.016917,0.015829,0.017949,0.022193,0.025266,0.026817,0.022980,0.026608,0.027007,0.030258,0.029454,0.028767,0.030227,0.031794,Age 80 or over
Tower Hamlets,0.031699,0.028816,0.031643,0.048920,0.048210,0.041446,0.032436,0.025701,0.021158,0.032168,0.021106,0.021033,0.017114,0.016123,0.018628,0.018119,0.016468,Age 20 to 24
Waltham Forest,0.035231,0.032365,0.032230,0.032706,0.031824,0.030328,0.031793,0.033184,0.031150,0.034098,0.031046,0.030384,0.028556,0.028161,0.028583,0.028089,0.028196,Age 0 to 4
Wandsworth,0.036636,0.026817,0.026879,0.037619,0.056685,0.052379,0.044456,0.036953,0.032516,0.030186,0.030540,0.030519,0.031110,0.030027,0.031186,0.028988,0.028761,Age 25 to 29